<div class="container mx-auto p-6 max-lg:-ml-36 max-lg:scale-50">
    <!-- Title -->
    <h1 class="mb-6 text-center text-3xl font-bold">Dashboard</h1>

    <!-- Dashboard Information Section to capture for PDF -->
    <div id="dashboard-info" class="max-lg:size-10">
        <!-- Production Chart -->
        <div class="mb-8">
            <h2 class="mb-4 text-2xl font-semibold">Production Status</h2>
            <ngx-charts-bar-vertical [results]="productionData" [view]="view" [scheme]="colorScheme" [xAxis]="true"
                [yAxis]="true" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" xAxisLabel="Recipes"
                yAxisLabel="In Progress Count">
            </ngx-charts-bar-vertical>
        </div>

        <!-- Warehouse Stock Chart -->
        <div class="mb-8">
            <h2 class="mb-4 text-2xl font-semibold">Warehouse Stock Levels</h2>
            <ngx-charts-pie-chart [results]="warehouseStockData" [view]="view" [scheme]="colorScheme" [legend]="true"
                [labels]="true" [doughnut]="false">
            </ngx-charts-pie-chart>
        </div>

        <!-- Quality Status -->
        <div class="mb-8">
            <h2 class="mb-4 text-2xl font-semibold">Quality Status</h2>
            <ngx-charts-pie-chart [results]="qualityStatusData" [view]="view" [scheme]="colorScheme" [legend]="true"
                [labels]="true" [doughnut]="true">
            </ngx-charts-pie-chart>
        </div>

        <!-- Sales Status -->
        <div>
            <h2 class="mb-4 text-2xl font-semibold">Sales Status</h2>
            <ngx-charts-bar-horizontal [results]="salesData" [view]="view" [scheme]="colorScheme" [xAxis]="true"
                [yAxis]="true" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true"
                xAxisLabel="Quantity Sold" yAxisLabel="Order Status">
            </ngx-charts-bar-horizontal>
        </div>
    </div>
</div>