<section class="-mt-6">
    <nav
        class="bg-transparent backdrop-blur-lg p-4 sticky inset-0 flex justify-around items-center text-slate-950 font-bold">
        <div class="flex w-1/2 justify-between">
            <a class="cursor-pointer" routerLink="/">Home</a>
            <a class="cursor-pointer" (click)="scrollToFooter()">About Us</a>
            <a href="mailto:shashanksola1010@gmail.com">Contact Sales</a>
        </div>
        <div>
            <button routerLink="/login"
                class="rounded-lg mr-2 bg-black border border-white p-4 text-slate-50">Login</button>
            <button routerLink="/register" class="rounded-lg bg-black border border-white p-4 text-slate-50">Sign
                Up</button>

        </div>
    </nav>
    <section class="-mt-20 lg:flex">
        <img class="w-full lg:w-1/2 h-screen"
            src="https://images.pexels.com/photos/2067396/pexels-photo-2067396.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
        <section class="bg-[#ead2ac] flex-col lg:w-1/2 h-1/2 lg:h-screen justify-center items-center p-48">
            <h1 class="text-6xl font-bold">Chocolate is the answer. Who cares what the question is?</h1>
        </section>
    </section>
    <footer class="bg-black text-white pt-12 px-4 md:px-8 bg-cover min-h-[35vh]" id="footer">
        <div class="max-w-7xl mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-4 gap-8 mb-8">
                <div class="col-span-1 md:col-span-2">
                    <h2 class="text-2xl font-bold mb-4">Choco.Co</h2>
                    <div class="flex flex-col items-start mb-4">
                        <span class="uppercase text-sm mb-2">Worlds Tastiest Chocolate Manufacturer</span>
                    </div>
                </div>
                <div>
                    <h3 class="font-semibold mb-2">Social</h3>
                    <ul class="space-y-2 text-sm">
                        <li><a href="https://www.instagram.com/shashank_sola/">Instagram</a></li>
                        <li><a href="https://github.com/shashanksola">Github</a></li>
                        <li><a href="https://www.linkedin.com/in/shashank-sola/">LinkedIn</a></li>
                    </ul>
                </div>
                <div>
                    <h3 class="font-semibold mb-2">Support</h3>
                    <ul class="space-y-2 text-sm">
                        <li><a href="mailto:solashashank1010@gmail.com" target="_blank">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="border-t border-white pt-4 flex flex-col md:flex-row justify-between items-center text-sm">
                <p>&copy; 2024 <a href="https://github.com/shashanksola/" target="_blank">Choco.co</a></p>
                <div class="space-x-4 mt-4 md:mt-0">
                    <a href="https://github.com/shashanksola/" target="_blank">Creator Terms</a>
                    <a href="https://github.com/shashanksola/" target="_blank">Privacy Policy</a>
                    <a href="https://github.com/shashanksola/" target="_blank">Cookies Policy</a>
                </div>
            </div>
        </div>
    </footer>
</section>